.mobileMenu {
    position: absolute;
    z-index: 99;
    background-color: #FFF;
    margin-top: 4.5rem;
    left: 0px;
    right: 0px;
    top: 10px;
}

.openLink {
    transition: .3s ease-in-out;
}

.mobile button {
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.active {
    color: #B08968;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 2px solid #B08968;
    padding: 10px 0;
}

.inActive {
    padding: .5rem 0;
}

@media screen and (max-width: 992px) {
    .mobileMenu {
        top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .mobileMenu {
        top: 0px;
    }
}