.bgDiv {
    position: relative;
    padding: 3rem 0 3rem 0;
}

.bgDiv .firstImage {
    position: absolute;
    z-index: -1;
}

.bgDiv .twoDiv {
    position: absolute;
    right: 0rem;
    z-index: -1;
}

.titleDiv {
    text-align: center;
}

.titleDiv h2 {
    color: #2B2B2B;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titleBottomBorder {
    text-align: center;
    border: 2px solid #B08968;
    width: 3.5rem;
    margin: 0 auto;
    margin-top: 0.4rem;
}


.containerPerson{
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}