.flexDiv {
    display: flex;
    position: relative;
}

.flexDiv .leftDiv .topFrame {
    width: 27rem;
    height: 21rem;
    border: 2px solid #016B38;
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: -1;
}

.flexDiv .leftDiv .bottomFrame {
    width: 27rem;
    height: 21rem;
    border: 2px solid #016B38;
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: -1;
}

.flexDiv .leftDiv:hover {
    .topFrame {
        z-index: -1;
        width: 28rem;
        bottom: 2.7rem;
        left: -2em;
        transition-duration: 0.5s;
    }

    .bottomFrame {
        z-index: -1;
        width: 28.5rem;
        height: 21.5rem;
        left: 2rem;
        top: 2rem;
        transition-duration: 0.5s;
    }

    & img {
        object-fit: cover;
        transform: scale(0.97);
        transition-duration: 0.7s;
    }
}




.flexDiv .rightDiv {
    margin-left: 4rem;
}

.flexDiv .rightDiv .h2Element h2 {
    color: #2B2B2B;
    font-family: Roboto;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.flexDiv .rightDiv p {
    color: #5E5E5E;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    width: fit-content;
    margin-top: 1.5em;
    flex-shrink: 0;
}

.flexDiv .rightDiv .h2ElementLine {
    border: 2px solid #B08968;
    width: 3.5rem;
    margin-top: 0.4rem;
}