:root {
    --index: calc(1vh + 1vw);
}

.firstContainer {
    background-image: url('CapImage.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.capContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.capContainer>h1 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.capContainer>p {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonMP {
    margin-top: 3rem;
}

@media screen and (max-width: 768px) {
    .capContainer>h1 {
        font-size: 2rem;
    }

    .capContainer>p {
        font-size: .9rem;
    }
}