.bgDiv {
    background-image: url('../../../public/FooterImg/BackGroundImg/footerBg.svg');
    width: 100%;
    padding: 4rem 0 1.5rem 0;
    background-size: cover;
}

.flexDiv {
    display: flex;
    justify-content: space-between;
}

.leftDiv .logoImg:hover {
    transform: scale(0.92);
    transition-duration: 0.3s;
}

.leftDiv p {
    color: #E8E8E8;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 19rem;
    height: 4.875rem;
    flex-shrink: 0;
    margin: 2rem 0 1.3rem 0;
}

.centerDiv .titleDiv h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.titleBottomBorder {
    border: 1px solid #B08968;
    width: 3rem;
    margin-top: 0.2rem;
}



.centerDivFlex2 {
    display: flex;
    padding-top: 3rem;
}

.centerDivFlex2 .linkRight {
    padding-left: 4rem;
}


.rightDiv .titleDiv2 h2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
}

.titleBottomBorder2 {
    border: 1px solid #B08968;
    width: 3rem;
    margin-top: .2rem;
}

.imageDivFlex {
    margin-top: 2.5rem;
}

.imageDivFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.imageBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.rightDiv .imageDivFlex img {
    margin: 0.5rem 0.5rem 0 0;
}

.rightDiv .imageDivFlex img:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
}

.bottomBorder {
    border-bottom: 1px solid #B4B4B4;
    margin-top: 4rem;
}

.footerEndDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.footerEndDiv p {
    color: #FFF;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socialFlexDiv {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 992px) {
    .flexDiv {
        flex-wrap: wrap;
        justify-content: center;
    }

    .centerDivFlex2 .linkRight {
        padding-left: 6.5rem;
    }
}

@media screen and (max-width: 768px) {
    .centerDiv {
        margin: 2rem 0;
    }
}